.TitleContainer {
  margin: 0 auto;
  padding: 170px 0px 0px 0px;
  width: 90%;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif !important;
}
@media (max-width: 540px) {
  .TitleContainer  {
    padding: 70px 0px 0px 0px;
    font-size: 3.5rem !important;
  }
}
@media (max-width: 731px) {
  .TitleContainer  {
    padding: 170px 0px 0px 0px;
    font-size: 3.5rem !important;
  }
}